<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.cam.std.dao.StdGoodsComboDao">
    
    <!-- 删除商品套餐表数据 -->
    <delete id="deleteGoodsComboByGoodsId">
		delete from std_goods_combo
		where goods_id in 
 		<foreach  item="item" collection="array" open="(" separator=","  close=")">
			#{item}
		</foreach>
	</delete>
    
    <!-- 查询商品套餐列表 -->
    <select id="getGoodsComboManage" resultType="com.mx.cam.std.model.GoodsCombo">
    	select *,
    	(case combo_type WHEN '1' then '期限' WHEN '2' then '次数' WHEN '3' then '版本' else '' end) as combo_type_name,
    	(case recommend_flag WHEN '1' then '√' else '' end) as recommend_flag_name
    	from std_goods_combo
    	where goods_id = #{goods_id}
    </select>
    
    <!-- 添加商品套餐 -->
    <insert id="insertGoodsCombo">
    insert into std_goods_combo(
    		combo_id,
    		goods_id,
    		combo_name,
    		combo_type,
    		years,
    		nums,
    		recommend_flag,
    		price,
    		card_type
    	)
    	values(
    		#{combo_id},
    		#{goods_id},
    		#{combo_name},
    		#{combo_type},
    		#{years},
    		#{nums},
    		#{recommend_flag},
    		#{price},
    		#{card_type}
    	)
    </insert>
    
</mapper>