<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.cam.std.dao.StdPayDao">

    <!-- 查询商品列表（接口使用） -->
    <select id="getGoodsWebList" resultType="com.mx.cam.std.model.GoodsWeb">
        select goods_id as goodsId,
               goods_name as goodsName,
               region_code as regionCode,
               region_name as regionName,
               price_info as priceInfo,
               group_flag as groupFlag
        from std_goods
        where product_id = #{product_id}
        and up_down_flag = '1'
    </select>
    
    <!-- 查询组合商品列表(WEB接口使用) -->
    <select id="getGoodsGroupWebList" resultType="com.mx.cam.std.model.GoodsGroupWeb">
    	select g.region_code as subRegionCode,
    	       g.region_name as subRegionName
        from std_goods_group r,std_goods g
        where g.goods_id = r.goods_id
        and r.goods_pid = #{goods_pid} 
    </select>

    <!-- 查询商品套餐列表(WEB接口使用) -->
    <select id="getGoodsComboWebList" resultType="com.mx.cam.std.model.GoodsComboWeb">
    	select c.combo_id as comboId,
    	       c.goods_id as goodsId,
    	       c.combo_name as comboName,
    	       c.combo_type as comboType,
    	       c.years as years,
    	       c.nums as nums,
    	       c.recommend_flag as recommendFlag,
    	       c.price as price,
    	       c.card_type as cardType
    	from std_goods_combo c, std_goods g
    	where g.product_id = #{product_id}
    	and g.goods_id = c.goods_id
    	and g.goods_id = #{goods_id}
    </select>
    
    <!-- 获取支付方式列表(WEB接口使用) -->
    <select id="getPayWayList" resultType="com.mx.cam.std.model.PaymentModeWeb">
    	select m.mode_id as payType,
    	       m.mode_name as payName,
    	       m.mode_description as payDescription
    	from std_payment_mode m, std_product_payment p
    	where p.mode_id = m.mode_id
    	and p.product_id = #{product_id}
    </select>
    
    <!-- 查询订单状态(WEB接口使用) -->
    <select id="orderQuery" resultType="com.mx.cam.std.model.Order">
    	select * from std_order 
    	where order_id = #{order_id}
    </select>
    
    <!-- 查询商品信息 -->
    <select id="getGoodsById" resultType = "com.mx.cam.std.model.GoodsItem">
    	select g.goods_id,
    		   g.goods_name,
    		   g.region_code,
    		   g.region_name,
    		   g.group_flag,
    		   c.combo_id,
    		   c.combo_name,
    		   c.combo_type,
    		   c.price,
    		   c.years,
    		   c.nums,
    		   c.card_type
    	from std_goods g, std_goods_combo c
    	where g.goods_id = c.goods_id
    	and g.product_id = #{product_id}
    	and c.goods_id in 
    	<foreach item="goods_id" collection="goodsIds" open="(" separator=","  close=")">
			#{goods_id}
		</foreach>
		and c.combo_id in 
		<foreach item="combo_id" collection="comboIds" open="(" separator=","  close=")">
			#{combo_id}
		</foreach>
    </select>
    
    <!-- 保存订单 -->
    <insert id="insertOrder">
    	insert into std_order(
    		order_id,
    		total_fee,
    		cash_fee,
    		creat_time,
    		device_no,
    		del_flag,
    		payment_mode_id,
    		order_state_id,
    		trade_state,
    		card_type
    	)
    	values(
    		#{order_id},
    		#{total_fee},
    		#{cash_fee},
    		now(),
    		#{device_no},
    		#{del_flag},
    		#{payment_mode_id},
    		#{order_state_id},
    		#{trade_state},
    		#{card_type}
    	)
    </insert>
    
    <!-- 保存订单详细 -->
    <insert id="insertOrderItem">
    	insert into std_order_item(
    		order_id,
    		device_no,
    		goods_id,
    		goods_name,
    		valid,
    		nums,
    		data_ver,
    		region_name,
    		region_ids,
    		goods_price,
    		goods_num,
    		cash_fee,
    		product_id,
    		combo_id,
    		combo_name,
    		combo_type,
    		scheme_id
    	)
    	values(
    		#{order_id},
    		#{device_no},
    		#{goods_id},
    		#{goods_name},
    		#{valid},
    		#{nums},
    		#{data_ver},
    		#{region_name},
    		#{region_ids},
    		#{goods_price},
    		#{goods_num},
    		#{cash_fee},
    		#{product_id},
    		#{combo_id},
    		#{combo_name},
    		#{combo_type},
    		#{scheme_id}
    	)
    </insert>
    
    <!-- 查询支付方式信息 -->
    <select id="getPaymentMode" resultType="com.mx.cam.std.model.PaymentMode">
    	select * from std_payment_mode 
    	where mode_id = #{mode_id}
    </select>
</mapper>