<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Youdao.Translator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1631393E-5B53-4C8B-AF64-A04B687438DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</key>
		<array/>
		<key>487D7A3C-11A7-416D-8F0F-21097B979E4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1631393E-5B53-4C8B-AF64-A04B687438DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>690252FF-FAAC-4BEA-968A-58EFB314E945</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C71F6B1F-B812-40C8-BACB-0EB3112F9C3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FE8475E-6310-49A4-967E-D6CCE73A86AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A78568B3-C360-4A35-A46A-0D91172F86EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>🔊 {query}</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>487D7A3C-11A7-416D-8F0F-21097B979E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>690252FF-FAAC-4BEA-968A-58EFB314E945</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A78568B3-C360-4A35-A46A-0D91172F86EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C71F6B1F-B812-40C8-BACB-0EB3112F9C3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA75DB4E-7B9E-48A4-B9D9-41EB73E9B3F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>WensonSmith</string>
	<key>description</key>
	<string>Translate using Youdao API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YoudaoTranslate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!~).+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A78568B3-C360-4A35-A46A-0D91172F86EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>def</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在翻译···</string>
				<key>script</key>
				<string>&lt;?php

require('YoudaoTranslate.php');

$keys = [
	['appKey' =&gt; '6fd000d3f4d3e142', 'secret' =&gt; 'YuZaW7lJTs8rQLkZvN86N1M5Y7Q0dEkm'],
	['appKey' =&gt; '79880f32f4de8a02', 'secret' =&gt; 'Wnav3owoPhxYyHJlI4QwTkssOl1uxRY4']
];

$translator = new YoudaoTranslate($keys);
echo $translator-&gt;translate($argv[1]);

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入要翻译的内容</string>
				<key>title</key>
				<string>有道翻译</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8FE8475E-6310-49A4-967E-D6CCE73A86AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo $query

echo -n $query | say $1 -v Samantha</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>~</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1631393E-5B53-4C8B-AF64-A04B687438DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>487D7A3C-11A7-416D-8F0F-21097B979E4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $TMPDIR
curl -o {query} "https://dict.youdao.com/dictvoice?audio={query}&amp;type=1"
afplay {query}
rm {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://dict.youdao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CA75DB4E-7B9E-48A4-B9D9-41EB73E9B3F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>690252FF-FAAC-4BEA-968A-58EFB314E945</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>~</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C71F6B1F-B812-40C8-BACB-0EB3112F9C3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1631393E-5B53-4C8B-AF64-A04B687438DF</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>在线发音</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>487D7A3C-11A7-416D-8F0F-21097B979E4C</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>690252FF-FAAC-4BEA-968A-58EFB314E945</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>6B0F6A32-751F-4071-A1E8-76A2E9486962</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>本地发音</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>8FE8475E-6310-49A4-967E-D6CCE73A86AC</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>A78568B3-C360-4A35-A46A-0D91172F86EF</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>C71F6B1F-B812-40C8-BACB-0EB3112F9C3B</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>CA75DB4E-7B9E-48A4-B9D9-41EB73E9B3F0</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://seekbetter.me</string>
</dict>
</plist>
