<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>美行综合管理系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

<!--[if IE 7]>
<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!-- page specific plugin styles -->
<!-- ace styles -->
<link rel="stylesheet" href="assets/css/ace.min.css" />
<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
<script src="js/jquery-1.11.1.min.js"></script>  
<script src="js/common.js"></script> 
<script src="js/login.js"></script> 
<script src="js/template.js"></script> 
<script src="js/base64.js"></script> 
<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

<!-- inline styles related to this page -->

<link rel="stylesheet" href="assets/css/common.css">

<!-- ace settings handler -->
<script src="assets/js/ace-extra.min.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		

<!-- 前台模板 -->
<script id="nav-list-tpl" type="text/html">
	<ul class="nav nav-list" id="navi_list">
		{{each list as menu i}}
			<li class="open{{if i==0}} active{{/if}}">
				<a href="#" class="dropdown-toggle">
					<i class=" icon-signal"></i>
					<span class="menu-text">{{menu.name}}</span>
					{{if menu.children && menu.children.length > 0}}
					<b class="arrow icon-angle-down"></b>
					{{/if}}
				</a>
				{{include 'submenu-tpl' menu}}
			</li>
		{{/each}}
	</ul>
</script>
<script id="submenu-tpl" type="text/html">
	{{each children as submenu j}}
		<ul class="submenu">
			<li class="subli open">
				<a href="{{submenu.attributes.url}}" class="submenu-lick"  target="rightFrame">
					<i></i>
					<span class="menu-text">{{submenu.name}}</span>
					{{if submenu.children && submenu.children.length > 0}}
					<b class="arrow icon-angle-down"></b>
					{{/if}}
				</a>
				{{if submenu.children && submenu.children.length > 0}}
				{{include 'submenu-tpl' submenu}}
				{{/if}}
			</li>
		</ul>
	{{/each}}
</script>
		
</head>
<body>
	<div class="navbar navbar-default" id="navbar">
	
    <div class="navbar-container" id="navbar-container">
    	<div class="navbar-header pull-left">
        	<a href="main.html" class="logo"><img src="images/logo1.png"></a>
        </div>
    	<div class="navbar-header pull-right">
        	<ul class="nav">
            	<li class=" light-blue2">
                	<a href="" data-toggle="dropdown" class="dropdown-toggle">
                    	<small>当前用户:</small>
                        <span id="usernameSpan"></span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    	<!-- <li><a href="#"><i class="icon-user"></i>
                        	基本资料
                        </a></li>
                        <li><a href="#"><i class="icon-cog"></i>
                        	修改密码
                        </a></li> -->
                        <li class="divider"></li>
                        <li><a href="#" onclick="loginOutForm()">
                        	<i class="icon-off"></i>
                         		   退出
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div> 
    </div>
</div>

<!--navbar结束-->
<div class="main-container" id="main-container">
	
	
    <div class="main-container-inner">
   
    <!--左侧目录-->
    <a href="#" class="menu-toggler" id="menu-toggler">
    	<span class="menu-text"></span>
    </a>
    
<div class="sidebar" id="sidebar">

     <!-- 菜单部分 -->
     
     <!-- 菜单jies -->
     <div class="space-10"></div>
     <div class="sidebar-collapse" id="sidebar-collapse">
     	<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
         
     </div>
     
 </div>
    
    <!--右侧内容列表-->
    <div class="main-content">
    	<iframe id="rightFrame" name="rightFrame" frameborder="no"  src="" style="width:100%; height:700px;"></iframe>
    
    </div>
    </div>
    
    <a class="btn btn-scroll-up btn-inverse btn-sm" id="btn-scroll-up" href="#">
    	<i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- basic scripts -->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->

		<!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
        
       	
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/typeahead-bs2.min.js"></script>
		
		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>
 <script type="text/javascript">

	//获取用户登录名称
	var str=decodeURI(window.location.search);   //location.search是从当前URL的?号开始的字符串
	if (str.indexOf('=')!=-1){        
		var pos_start=str.indexOf(name)+name.length+1;
		var pos_end=str.indexOf("&",pos_start);
		var userLoginName=str.substring(pos_start);
		var userName=userLoginName.replace('name=', ''); 
		if (pos_end==-1){
			$("#usernameSpan").html(userName);
		}else{
			$("#usernameSpan").html("美行用户");
		}
	}
	//加载菜单
	queryUserMenuTree();
</script>
</body>
</html>
