<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.custom.F579C720-514E-4D3A-8396-63A8200C6044.fallback</string>
		<string>features.websearch.google.fallback</string>
	</array>
	<key>showContacts</key>
	<false/>
</dict>
</plist>
