<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mx.cam.mazda.dao.MazdaOrderItemDao">
    
    <select id="getOrderItem" resultType="com.mx.cam.mazda.model.OrderItem">
        SELECT *
        FROM mazda_order_item
        where order_id = #{order_id}
    </select>

    <insert id="insertOrderItem">
        insert into mazda_order_item(
        order_id,
        device_no,
        goods_id,
        goods_name,
        valid,
        nums,
        region_name,
        goods_price,
        goods_num,
        cash_fee,
        product_id
        )
        values(
        #{order_id},
        #{device_no},
        #{goods_id},
        #{goods_name},
        #{valid},
        #{nums},
        #{region_name},
        #{goods_price},
        #{goods_num},
        #{cash_fee},
        #{product_id}
        )
    </insert>
</mapper>
