<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mx.auth.common.dao.ChangeDeviceInfoDao">
    
    <insert id="insertChangeDeviceInfo">
    	insert into te_change_device_info(
    		product_id,
    		old_device_no,
    		new_device_no,
    		creat_time,
    		handlers
    	)
    	values(
    		#{product_id},
    		#{old_device_no},
    		#{new_device_no},
    		now(),
    		#{handlers}
    	)
    </insert>
    
</mapper>
