<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.auth.common.dao.NdsDataSellActiveAuthDao">

    <insert id="insert">
        INSERT INTO te_nds_data_sell_active_auth(
            sell_auth_id,
            auth_order_id,
            business_mode,
            nums,
            product_id,
            free_upg_duration,
            free_upg_times,
            region_code,
            data_ver,
            soft_ver,
            auth_rule
        ) VALUES (
            #{sell_auth_id},
            #{auth_order_id},
            #{business_mode},
            #{nums},
            #{product_id},
            #{free_upg_duration},
            #{free_upg_times},
            #{region_code},
            #{data_ver},
            #{soft_ver},
            #{auth_rule}
        );
    </insert>

    <update id="update">
        UPDATE te_nds_data_sell_active_auth
        SET  nums = #{nums}
        WHERE sell_auth_id = #{sell_auth_id}
    </update>

    <select id="findByExample" resultType="com.mx.auth.common.model.NdsDataSellActiveAuth">
        SELECT * from te_nds_data_sell_active_auth
        WHERE product_id = #{product_id}
        AND data_ver = #{data_ver}
        AND soft_ver = #{soft_ver}
    </select>
    
    <select id="getNdsDataSellActiveAuthManage" resultType="com.mx.auth.common.model.NdsDataSellActiveAuth">
        SELECT * from te_nds_data_sell_active_auth
        where 1=1
        <if test = "sell_auth_id != null and sell_auth_id != ''">
           and sell_auth_id = #{sell_auth_id}
        </if>
        <if test = "auth_order_id != null and auth_order_id != ''">
           and auth_order_id = #{auth_order_id}
        </if>
        <if test = "product_id != null and product_id != ''">
           and product_id = #{product_id}
        </if>
        <if test = "business_mode != null and business_mode != ''">
           and business_mode = #{business_mode}
        </if>
        <if test = "auth_rule != null and auth_rule != ''">
           and auth_rule = #{auth_rule}
        </if>
    </select>

    <select id="findByProductId" resultType="com.mx.auth.common.model.NdsDataSellActiveAuth">
        SELECT
            a.*, b.order_creat_time
        FROM
            te_nds_data_sell_active_auth a
            JOIN te_auth_order b ON a.auth_order_id = b.auth_order_id
        WHERE
            a.product_id = #{productId}
            AND a.nums > 0
            AND b.order_status = '0'
        ORDER BY
            b.order_creat_time ASC
        LIMIT 1
    </select>
</mapper>
