<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.auth.common.dao.PrefixInfoDao">

	<!-- 查询刮刮卡类型 -->
    <select id="getPrefixInfo" resultType="com.mx.auth.common.model.PrefixInfo">
        select prefixData,
               productSeries,
               prefixName,
               DATE_FORMAT(createTime, '%Y-%m-%d %T') as createTime
        from te_prefix_info
        where 1=1
        <if test = "productSeries != null and productSeries != ''">
           and productSeries = #{productSeries}
        </if>
    </select>

</mapper>