<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mx.cam.common.user.dao.GroupDao">

    <select id="getGroupManage" resultType="com.mx.cam.common.user.model.Group">
        SELECT
			t5.group_id,
			t5.group_name,
			t5.buildin,
			t5.description,
			group_concat(t5.roleIDs) roleIDs,
			group_concat(t5.roleNames) roleNames
		FROM
			(
				SELECT
					*, null roleIDs,
					null roleNames
				FROM
					te_group t4
				WHERE
					1 = 1
					 <if test = "buildin != null and buildin != ''">
			        	AND t1.buildin = #{buildin}
			        </if>
			        <if test = "group_name != null and group_name != ''">
			        	AND t1.group_name LIKE CONCAT(CONCAT('%', #{group_name}), '%')
			        </if>
				UNION
					SELECT
						t1.*, t3.role_id roleIDs,
						t3.role_name roleNames
					FROM
						te_group t1,
						tr_group_role t2,
						te_roles t3
					WHERE
						1 = 1
					AND t1.group_id = t2.group_id
					AND t2.role_id = t3.role_id
					 <if test = "buildin != null and buildin != ''">
			        	AND t1.buildin = #{buildin}
			        </if>
			        <if test = "group_name != null and group_name != ''">
			        	AND t1.group_name LIKE CONCAT(CONCAT('%', #{group_name}), '%')
			        </if>
			) t5
		GROUP BY
			t5.group_id		
    </select>
    
    <delete id="deleteGroupManage">
		DELETE FROM
		    te_group
		WHERE group_id IN 
 		<foreach  item="item" collection="array" open="(" separator=","  close=")">
			#{item}
		</foreach>
	</delete>
	
	<select id="checkGroupName" resultType="int">
        SELECT count(*) FROM te_group WHERE 1=1
	        <if test = "group_id != null and group_id != ''">
	       	  AND  group_id != #{group_id} 
	        </if>
	        AND  group_name = #{group_name}
    </select>
    
    <insert id="saveGroup">
    	INSERT INTO te_group(
    		group_id,
    		group_name,
    		buildin,
    		description
    	)
    	VALUES(
    		#{group_id},
    		#{group_name},
    		#{buildin},
    		#{description}
    	)
    </insert>
    
    <update id="updateGroup">
    	UPDATE te_group 
   		SET 
	    	group_name = #{group_name},
	    	description = #{description}
    	WHERE group_id = #{group_id}
    </update>
    
</mapper>
