<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mx.cam.common.user.dao.MenuDao">
	<resultMap type="com.mx.cam.common.user.model.Menu" id="menuMap">
	</resultMap>

    <select id="getFatherName" resultType="com.mx.cam.common.user.model.Menu">
        SELECT id,name FROM te_menus WHERE id = ( SELECT parentid FROM te_menus WHERE id = #{id} )
    </select>
    
    <delete id="deleteMenuManage">
    	DELETE FROM te_menus WHERE id = #{id} or parentid = #{id}
    </delete>
    
    <select id="checkMenuName" resultType="int">
        SELECT count(*) FROM te_menus WHERE id != #{id} and name = #{name}
    </select>
    
    <update id="updateMenu">
       UPDATE te_menus
           SET 
                name=#{name},
                url=#{url}
       WHERE 
           id = #{id}
    </update>
    
    <select id="searchMaxSortByParentId" resultType="String">
        SELECT Max(sort) FROM te_menus WHERE parentId = #{parentId}
    </select>
    
    <select id="searchTreedeep" resultType="String">
        SELECT treedeep FROM te_menus WHERE id = #{parentId}
    </select>
    
    
    <insert id="saveMenu">
        <![CDATA[
        INSERT INTO te_menus(
        	id,
        	name,
        	url,
        	parentid,
        	menu_type,
        	status,
        	sort,
        	treedeep
	        ) 
        VALUES(
        	#{id},
        	#{name},
        	#{url},
        	#{parentid},
        	#{menuType},
        	#{status},
        	#{sort},
        	#{treedeep}
	        )
        ]]>
        
    </insert>
    
    <select id="searchUserMenu" resultMap="menuMap" parameterType="String">
        SELECT
			*
		FROM
			te_menus
		WHERE
			id IN (
				SELECT
					t1.menu_id
				FROM
					tr_authorities t,
					tr_role_menu t1
				WHERE
					t.user_id = #{userID}
				AND t1.role_id = t.role_id
				)
    </select>
</mapper>
