<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mx.cam.common.user.dao.UserDao">


 <select id="getUserManage" resultType="com.mx.cam.common.user.model.User">
       SELECT * FROM 
       ( 
       		SELECT
			t6.user_id,
			t6.user_name,
			t6.user_fullname,
			t6.user_pwd,
			t6.mail,
			t6.phone,
			t6.gender,
			t6.address,
			(
				CASE t6.enable
				WHEN '1' THEN
					'是'
				ELSE
					'否'
				END
			) AS enable,
			t6.start_time,
			t6.update_time,
			group_concat(t6.roleIDs) roleIDs,
			group_concat(t6.roleNames) roleNames,
			group_concat(t6.groupIDs) groupIDs,
			group_concat(t6.groupNames) groupNames
		FROM
			(
				SELECT
					t1.*, t3.role_id roleIDs,
					t3.role_name roleNames,
					null groupIDs,
					null groupNames
				FROM
					te_user t1,
					tr_authorities t2,
					te_roles t3
				WHERE
					t1.user_id = t2.user_id
				AND t2.role_id = t3.role_id
				UNION
					SELECT
						t1.*, null roleIDs,
						null roleNames,
						t5.group_id groupIDs,
						t5.group_name groupNames
					FROM
						te_user t1,
						te_group_user t4,
						te_group t5
					WHERE
						t4.user_id = t1.user_id
					AND t5.group_id = t4.group_id
				UNION
					SELECT
						t8.*, null roleIDs,
						null roleNames,
						null groupIDs,
						null groupNames
					FROM
						te_user t8
			) t6
        WHERE 1=1
        <if test="user_name != null and user_name != ''">
            AND t6.user_name = #{user_name}
        </if>
        <if test="enable != null and enable != ''">
            AND t6.enable = #{enable}
        </if>
        GROUP BY t6.user_id
        ) t7 
        WHERE 1=1
        <if test="roleIDs != null and roleIDs != '' and roleIDs != '0'.toString()">
            AND t7.roleIDs like CONCAT('%',#{roleIDs},'%') 
        </if>
        <if test="roleIDs == '0'.toString()">
            AND t7.roleNames like CONCAT('%','admin','%') 
        </if>
        <if test="groupIDs != null and groupIDs != ''">
            AND t7.groupIDs like CONCAT('%',#{groupIDs},'%') 
        </if>
    </select>
    
    <select id="checkUserName" resultType="int">
		SELECT count(*) FROM te_user
		where 1=1 
			<if test="user_id != null and user_id != ''">
			 and user_id != #{user_id}
			</if>
			 and user_name = #{user_name} and enable = '1'
    </select>

    <insert id="saveUser">
    	INSERT INTO te_user(
    		user_id,
    		user_name,
    		user_fullname,
    		user_pwd,
    		start_time,
    		enable,
    		mail,
    		phone,
    		gender,
    		address
    	)
    	VALUES(
    		#{user_id},
    		#{user_name},
    		#{user_fullname},
    		#{user_pwd},
    		now(),
    		#{enable},
    		#{mail},
    		#{phone},
    		#{gender},
    		#{address}
    	)
    </insert>

    <update id="updateUser">
    	UPDATE te_user 
    		SET 
    		<if test="user_pwd != null">
   				user_pwd = #{user_pwd},
    		</if>
		    	user_fullname = #{user_fullname},
		    	mail = #{mail},
		    	phone = #{phone},
		    	gender = #{gender},
		    	address = #{address},
		    	enable = #{enable},
		    	update_time = now()
    		WHERE
				user_id = #{user_id}
    </update>

    <update id="deleteUser">
        UPDATE te_user SET
        enable = '0',
        update_time = now()
        WHERE user_id IN
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="resetUserPwd">
    	UPDATE te_user SET 
	    	user_pwd = #{user_pwd},
	    	update_time = now()
    	WHERE user_id = #{user_id}
    </update>

    <select id="getLoginUserInfo" resultType="com.mx.cam.common.user.model.User">
        SELECT * FROM te_user WHERE user_name = #{user_name}
    </select>

    <select id="checkPwd" resultType="int">
        SELECT count(*) FROM te_user WHERE user_id = #{user_id} AND user_pwd = #{user_pwd}
    </select>

    <update id="updateUserInfo">
        UPDATE te_user SET
        <!-- user_name = #{user_name}, -->
	        user_fullname = #{user_fullname},
	        mail = #{mail},
	        phone = #{phone},
	        gender = #{gender},
	        address = #{address},
	        enable = #{enable},
	        update_time = now()
        WHERE user_id = #{user_id}
    </update>

    <select id="getUser4sManage" resultType="com.mx.cam.common.user.model.User">
        SELECT u.user_id,
        u.user_name,
        u.user_fullname,
        u.user_pwd,
        u.mail,
        u.phone,
        u.gender,
        u.address,
        u.start_time,
        u.update_time,
        r.role_id,
        r.role_name
        FROM te_user u, tr_authorities a, te_roles r
        where u.user_id = a.user_id
        and a.role_id = r.role_id
        and u.enable = '1'
        and r.role_id = 'fours'
        <if test="user_name != null and user_name != ''">
            and u.user_name = #{user_name}
        </if>
        <if test="user_fullname != null and user_fullname != ''">
            and u.user_fullname = #{user_fullname}
        </if>
    </select>

    <select id="findByExample" resultType="com.mx.cam.common.user.model.User">
        SELECT * FROM te_user WHERE user_name=#{user_name} AND user_pwd=#{user_pwd};
    </select>


    <select id="find4SUser" resultType="com.mx.cam.common.user.model.User">
        SELECT
			t.*,
			GROUP_CONCAT(t4.url) urls
		FROM
			te_user t,
			tr_authorities t1,
			tr_role_menu t3,
			te_menus t4
		WHERE
			t.user_id = t1.user_id
		AND t1.role_id = t3.role_id
		AND t3.menu_id = t4.id
		AND t4.url = #{oem}
		AND t.user_name = #{user_name}
		AND t.user_pwd = #{user_pwd}
		
		GROUP 
		    BY t.user_id	
    </select>

</mapper>
